body {
  margin: 0;
  padding: 0;
  font-family: sans-serif;
}

.search-btn{
  margin-top: 15px;
}

.edit-profile-btn{
  margin-bottom: 10px;
}

.btn-spacing{
  margin-right: 5px !important;
}

.container-padding {
  padding-left: 5px !important;
  padding-right: 5px !important;
}

.image-container {
  width: 180;
  height: 220;
}

.center-container {
  margin: 0 auto !important;
}

.important-msg {
  color: red
}

.success-msg {
  color: green
}

.small-top-margin {
  margin-top: 5px;
}

.home-container {
  background-image: url("./utils/images/home_background.png");
  opacity: .4;
  margin-top: 50px;
  height: 60vh;
  width: 60vw;
  background-repeat: no-repeat;
}

.signout-container {
  background-image: url("./utils/images/leaving_us.jpg");
  margin: 0 auto;
  height: 65vh;
  width: 50vw;
  opacity: .4;
  background-repeat: no-repeat;
}

.empty-cart-container {
  background-image: url("./utils/images/empty-cart.jpg");
  margin: 0 auto;
  height: 50vh;
  width: 50vw;
  background-repeat: no-repeat;
}

.error {
  color: #F00;
  font-weight: bold;
}